<h1>Devlop Eat</h1>
<h3>Invitation sur la plateform</h3>
<p>Bonjour, voici une invitation pour la plateforme Devlop Eat,<br>
    veuillez cliquez sur le lien suivant pour être redirigé vers le formulaire d'inscription.</p>
<a href="http://127.0.0.1:8000{# https://devlopeat.eddaoust.com/ #}{{ path('user_create', {token: token}) }}">Cliquez
    ici!</a>
<br>
<br>

<p>Pour refuser, <a
            href="http://127.0.0.1:8000{# https://devlopeat.eddaoust.com/ #}{{ path('invitation_refuse', {id: id, token: token}) }}">Cliquez
        ici!</a></p>