{% extends 'user/user-template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"/>
{% endblock %}

{% block title %}Invitations{% endblock %}

{% block user_body %}
    <div class="row">
        <div class="col-12">
            <table id="table_id" class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th class="desktop">Utilisateur</th>
                    <th class="desktop">Status</th>
                    <th class="desktop">Date d'envoi</th>
                    <th class="desktop">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for invitation in invitations %}
                    <tr>
                        <th>{{ invitation.user.email }}</th>
                        {% if invitation.sendDate | date_modify("+60 minutes") | date() < 'now' | date() %}
                            <th class="text-danger">Invitation dépassée</th>
                        {% else %}
                            <th class="text-success">Invitation en attente</th>
                        {% endif %}
                        <th>{{ invitation.sendDate | date('d/m/Y') }}</th>
                        <th class="text-center"><a href="{{ path('invitation_delete', {id: invitation.id}) }}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/dataTable-Init.js') }}"></script>
{% endblock %}