{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Architecte{% endblock %}

{% block dash_body %}
        <div class="jumbotron">
            <h1 class="display-6">Gestion des architectes</h1>
            <p class="lead">Vous avez <strong class="text-success">{{ architectsCounter.getArchitectsCount() }}</strong> architectes enregistrés sur la plateforme.</p>
        </div>
        {% block architect_body %}{% endblock %}
{% endblock %}
