{% extends 'architect/architect-template.html.twig' %}

{% block architect_body %}
    <div class="container">
        <h3>Modifier un architecte</h3>
        <hr class="mb-5">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}