{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Sociétés{% endblock %}

{% block dash_body %}
    <div class="col-xl-10">
        <div class="jumbotron mt-5">
            <h1 class="display-6">Gestion des sociétés</h1>
            <p class="lead">Vous avez <strong class="text-success">{{ companiesCounter.getCompaniesCount() }}</strong> sociétés enregistrés sur la plateforme.</p>
            <hr class="my-4">

            <a class="btn btn-success btn-lg" href="#" role="button"><i class="fas fa-user-plus"></i> Ajouter une société</a>
        </div>
        {% block company_body %}{% endblock %}
    </div>
{% endblock %}
