{% extends 'project/project-template.html.twig' %}

{% block project_body %}
    <div class="container">
        <h3 class="text-black-50 text-center">Ajout / Modification des données de la ligne du temps</h3><hr>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}