{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Projets{% endblock %}

{% block dash_body %}
    <div class="col-xl-10">
        <div class="jumbotron mt-5">
            <h1 class="display-6">Gestion des projets</h1>
            <p class="lead">Vous avez <strong class="text-success">{{ projectsCounter.getProjectsCount() }}</strong> projets enregistrés sur la plateforme.</p>
            <hr class="my-4">

            <a class="btn btn-success btn-lg" href="{{ path('project_add') }}" role="button"><i class="fas fa-user-plus"></i> Ajouter un projet</a>
        </div>
        {% block project_body %}{% endblock %}
    </div>
{% endblock %}
