<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('img/logo/devlop-logo.svg') }}" width="80" alt="Devlop logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Acceuil</a>
            </li>
        </ul>
        {% if app.user %}
            <div class="profil-img">
                <img src="{{ app.user.img ? asset('img/user-profil/') ~ app.user.img : asset('img/user-profil/default.png') }}" style="height: 36px;width: 36px;border-radius: 90px;background-color: white; border: solid 1px #5E9D4D;">
            </div>
            <a class="btn btn-success ml-2" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt mr-1"></i>Déconnexion</a>
        {% endif %}
    </div>
</nav>