<div class="col-xl-2">
    <ul class="nav nav-tabs flex-column mt-5">
        <li class="nav-item">
            <a class="nav-link text-success" href="{{ path('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="#"><i class="fas fa-user-plus"></i> Ajouter un utilisateur</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="#"><i class="fas fa-users-cog"></i> Gérer les utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="#"><i class="fas fa-building"></i> Ajouter un projet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="#"><i class="fas fa-cog"></i> Gérer les projets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="#"><i class="fas fa-industry"></i> Ajouter une société</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="#"><i class="fas fa-cog"></i> Gérer les sociétés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="#"><i class="fas fa-drafting-compass"></i> Ajouter un architecte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="#"><i class="fas fa-cog"></i> Gérer les architectes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="#"><i class="fas fa-hammer"></i> Ajouter une entreprise générale</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="#"><i class="fas fa-cog"></i> Gérer les entreprises générales</a>
        </li>
    </ul>
</div>