{% extends 'user/user-template.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block user_body %}
    <div class="container">
        <h3>Ajouter un utilisateur</h3>
        <hr class="mb-5">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}