{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block dash_body %}
        <div class="jumbotron">
            <h1 class="display-6">Gestion des utilisateurs</h1>
            <p class="lead">Vous avez <strong class="text-success">{{ usersCounter.getUsersCount() }}</strong> utilisateurs enregistrés sur la plateforme.</p>
        </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block user_body %}{% endblock %}
{% endblock %}
