{% extends 'user/user-template.html.twig' %}

{% block title %}Password{% endblock %}

{% block user_body %}
    <div class="container">
        <h3>Modifier le mot de passe</h3>
        <hr class="mb-5">
        {{ form_start(form) }}
        <div class="form-group">
            <label for="old-password">Ancien mot de passe</label>
            <input type="password" name="oldPassword" class="form-control" id="old-password" required="required" placeholder="Entrez votre ancien mot de passe">
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}