{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block dash_body %}
    <div class="col-xl-10">
        <div class="jumbotron mt-5">
            <h1 class="display-6">Gestion des utilisateurs</h1>
            <p class="lead">Vous avez <strong class="text-success">{{ usersCounter.getUsersCount() }}</strong> utilisateurs enregistrés sur la plateforme.</p>
            <hr class="my-4">

            <a class="btn btn-success btn-lg" href="{{ path('user_add') }}" role="button"><i class="fas fa-user-plus"></i> Ajouter un utilisateur</a>
            <a class="btn btn-danger btn-lg" href="{{ path('user_add_mail') }}" role="button"><i class="fas fa-user-plus"></i> Ajouter un utilisateur MAIL</a>
        </div>
    {% block user_body %}{% endblock %}
    </div>
{% endblock %}
