<h1>Devlop Eat</h1>
<h3>Récupération de mot de passe</h3>
<p>Bonjour, voici un lien afin de réinitialiser votre mot de passe</p>
<a href="http://localhost:8888{{ path('user_check_token', {token: token}) }}">Cliquez ici!</a>
