<h1>Devlop Eat</h1>
<h3>Invitation sur la plateform</h3>
<p>Bonjour, voici une invitation pour la plateforme Devlop Eat,<br>
veuillez cliquez sur le lien suivant pour être redirigé vers le formulaire.</p>
<a href="https://devlopeat.eddaoust.com{# https://devlopeat.eddaoust.com/ #}{{ path('user_reset_password', {id: id, token: token}) }}">Cliquez ici!</a>